<div class="row">

    <p>
      <strong>Jokes found for <%= @search_result.keywords %></strong>
    </p>

    <ul class="list-group">
      <% @jokes_array.each do |joke| %>


        <li class="list-group-item "><!--d-flex justify-content-between align-items-center-->
          <div class="row">
            <div class="col-1">
              <img src="<%= joke.icon_url %>" alt="Chuck norris icon" />
            </div>
            <div class="col-10">
              <%= link_to joke.value, joke %>
            </div>
            <div class="col-1">
              <span class="badge bg-primary rounded-pill"><%= joke.categories %></span>
            </div>
          </div>
        </li>

      <% end %>
    </ul>

</div>

<div class="row mt-2">
  <%= paginate @jokes_array %>
</div>

<div class="row mt-2">
<%= render "send_results" %>
</div>

<p id="notice"><%= notice %></p>
