
<div class="card" style="width: 20rem;">
  <img src="<%= @joke.icon_url %>" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><%= @joke.value %></p>
    <span class="badge rounded-pill bg-primary"><%= @joke.categories %></span>
    <span class="badge rounded-pill bg-info"><a href="<%= @joke.url %>">Original URL</a></span>
    
  </div>
</div>


<p id="notice"><%= notice %></p>